*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: calibri;
	background-color: #260fff;
}

.fleft{
	float: left;
}

.fright{
	float: right;
}

ul,ol{
	list-style-type: none;
	margin:0 0 0 20px;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0 0 20px;
}

p{
	line-height: 20px;
}

.clr::after{
	content:"";
	display: table;
	clear: both;
}

table{
	border-collapse: collapse;
}

table,td,th{
	border:1px solid #000;
}

.txt_center{D:\Learn_to_Front_end_developer\02 CSS\Selectors\colon visited\assignment-two
	text-align: center;
}

.txt_right{
	text-align: right;
}

/*start*/
.social_media{
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-color: #fff;
	max-width: 300px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #dedede;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.icon{
	margin: 0 4px 0 0;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 50%;
	border:1px solid #999;
	color:#666;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-size: 21px;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.icon:hover{
	color:#fff;
}

.icon_fb:hover{
	background-color: #3b5998;
	border-color: #3b5998;
}

.icon_tw:hover{
	background-color: #00abf0;
	border-color: #00abf0;
}

.icon_gp:hover{
	background-color:#d73d32;
	border-color: #d73d32;
}

.icon_rs:hover{
	background-color: #f18a34;
	border-color: #f18a34;
}

.icon_em:hover{
	background-color: #eb5e4c;
	border-color: #eb5e4c;
}