*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	/*background-color: #dce7eb;*/
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	color:#ff6873;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.list_inline li{
	display: inline-block;
}

.row::after{
	content:"";
	display: table;
	clear: both;
}

.fleft{
	float: left;
}

.fright{
	float: right;
}

/*********** STYLING ***********/
.social_med_block{
	background:url('../img/suscribe_bg.jpg') no-repeat;
	padding: 22px 0;
	text-align: center;
	background-position: right bottom;
	background-size: cover;
}

.social_med_block nav ul li .icon{
	width:37px;
	height: 37px;
	display: inline-block;
	background: url('../img/social-icon.png') no-repeat;
	margin:30px 10px 10px;
}

/*social media link default*/
.social_med_block nav ul li .icon_fb{
	background-position: 0 -1px;
}

.social_med_block nav ul li .icon_tw{
	background-position: -80px -1px;
}

.social_med_block nav ul li .icon_in{
	background-position: -168px -1px;
}

.social_med_block nav ul li .icon_yt{
	background-position: -256px -1px;
}

.social_med_block nav ul li .icon_gp{
	background-position: -337px -1px;
}

.social_med_block nav ul li .icon_pi{
	background-position: -424px -1px;
}

.social_med_block nav ul li .icon_li{
	background-position: -512px -1px;
}

.social_med_block nav ul li .icon_bi{
	background-position: -608px -1px;
}

/*social media link hover*/
.social_med_block nav ul li .icon_fb:hover{
	background-position: 0 -156px;
}

.social_med_block nav ul li .icon_tw:hover{
	background-position: -80px -156px;
}

.social_med_block nav ul li .icon_in:hover{
	background-position: -168px -156px;
}

.social_med_block nav ul li .icon_yt:hover{
	background-position: -256px -156px;
}

.social_med_block nav ul li .icon_gp:hover{
	background-position: -337px -156px;
}

.social_med_block nav ul li .icon_pi:hover{
	background-position: -424px -156px;
}

.social_med_block nav ul li .icon_li:hover{
	background-position: -512px -156px;
}

.social_med_block nav ul li .icon_bi:hover{
	background-position: -608px -156px;
}

/**************** MEDIA QUERIES ****************/
@media (max-width: 550px){
	.social_med_block nav ul li .icon{
		margin:30px 5px 10px;
	}
}